body{
    font-family: "Open Sans",sans-serif;
    width: 100%;
    margin: 0;
    height: 95vh;
    background-color: rgb(72, 160, 182);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
}
div{
    margin-top: 30px;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    
}
.App{
    height: 86px;
    width: 86px;
    background-color: rgb(33, 128, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
img{
    scale: 3;
}
.NameA{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}