/*General*/
body{
    font-family: "Open Sans",sans-serif;
    width: 100%;
    margin: 0;
    height: 95vh;
    background-color: rgb(72, 160, 182);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
}
div{
    margin-top: 30px;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    
}
/* Start Page */
.App{
    height: 86px;
    width: 86px;
    background-color: rgb(33, 128, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
img{
    scale: 3;
}
.NameA{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
/* Quick Direkt */
.IconMenu{
    scale: 0.5;
    padding: 20px;
    background-color: rgb(33, 128, 216);
    border: unset;
    border-radius: 12px;
    border: 2px solid black;
    
}
.IconMenuEx{
    scale: 0.5;
    padding: 20px;
    background-color: rgb(33, 128, 216);
    border: unset;
    border-radius: 12px;
    border: 2px solid black;
    opacity: 0;
    animation: Apear 0.5s linear 0s 1 normal forwards;
    animation-play-state: paused;
}
.BigMenu{
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: unset;
    background-color: rgb(58, 131, 150);
    height: 145px;
    animation: h 0.5s linear 0s 1 normal forwards;
    animation-play-state: paused;
}
.Ex{
    position: absolute;
    top: 260px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: unset;
    background-color: rgba(58, 132, 150, 0);
    height: 500px;
}
#Menu{
        animation: spin 0.5s linear 0s 1 normal forwards;
        animation-play-state: paused;
}
/* Ableitung */
.Ableitung{
    display: flex;
    flex-wrap: wrap;
    gap: unset;
    height: 20px;
}
.eingabeAb{
    width: 25px;
    height: 25px;

}
.funktion{
    gap: unset;
    display: flex;
    align-items: center;
    height: 25px;
    margin: 0;
}
#bodyAbleitung{
    row-gap: 15px;
}
/* Mitternachtsformel */
.ABCInput{
    width: 80%;
    gap: unset;
    height: 30px;
    display: flex;
    justify-content: space-around;
    
}
.InputABC{
    width: 30px;
}
.TippEingab{
    height: 40px;
}
.TextIcons{
    height: 30px;
    gap: unset;
    margin: unset;
}
.okbutton{
    margin-top: 15px;
    width: 35px;
    height: 35px;

}
.Preview{
    height: 20px;
    display: flex;
    justify-content: space-around;
}
#AwnserABC{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Animation */
/* Quick Direkt */
@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(90deg)
    }
}
@keyframes h{
    0%{
        height: 145px;
    }
    50%{
        height: 640px;
    }
    100%{
        height: 640px;
    }
}
@keyframes Apear{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
